{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 180,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
